.userdeatils::after{
    content: "";
    width: 7px;
    height: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 2px solid #1B2950;
    border-bottom: 2px solid #1B2950;
    border-radius: 1px;
    transform: rotate(45deg);
    transition: all 0.5s;
    top: 12px;
    position: absolute;
    right: 12px;
}
/* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown2{
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 15px;
  }
  .dropdown-content2{
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 15px;
    margin-right: 20px;
    margin-left: -16px;
    margin-top: 8px;

  }
  .user-img img{
    width: 38px;
    border-radius: 50%;
  }
  
  .dropdown-item{
    padding: 10px 10px;
    color: #67748E;
    border-radius: 10px;
    transition: none;
    display: flex;
  }
  .dropdown-item2{
    padding: 10px 10px;
    color: #67748E;
    border-radius: 10px;
    transition: none;
    display: flex;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown-content2 a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown2 .dropdown-content2{
       display: block;
  }

  .dropdown-item:hover {
    background: #F7F7F7 url(../../assets/check.svg) no-repeat calc(100% - 12px) center;
}
.badge {
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: -7px;
  right: -7px;
  background: #FF9F43;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */