.table {
    /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: black;
    background: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border-radius: 2px;
    padding: 10px;
    font-size: 1rem;
}
 th{
       margin-top: 12px;
       margin-bottom: 12px;
       background-color: #FAFBFE;
       color: black;
    }

    /* tr:nth-child(even){
       background-color: #f2f2f2;
    } */
    tr:hover{
       background-color: #ddd;
    }
    th,td{
     padding: 8px;
     text-align: left;
     border-bottom: 1px solid #ddd; 
    }

 

  /* .scrollbar{
   height: 89vh;
   overflow-y: scroll;
   
 }
 
 .scrollbar::-webkit-scrollbar {
   width: 5px; 
   
 }
 
 .scrollbar::-webkit-scrollbar-track {
   border-radius: 100vh;
   
 }
 
 .scrollbar::-webkit-scrollbar-thumb {
   background: rgb(221, 221, 221);
   opacity: 0.1;
   border-radius: 100vh;
 } */

  .paginate_button{
   padding-top: 0.375rem;
   padding-bottom: 0.375rem;
   padding-left: 0.75rem;
   padding-right:0.75rem;
  }

