/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* .scroll__bar{
  height: 100vh;
  overflow-y: scroll;
  width: 267px;
  

}
.scroll__bar::-webkit-scrollbar {
  width: 7px; 
  transition-duration: 5s;
  
}

.scroll__bar::-webkit-scrollbar-track {
  border-radius: 100vh;
  
}

.scroll__bar::-webkit-scrollbar-thumb {
  background: #EBEBEB;
  opacity: 0.1;
  border-radius: 100vh;
  
} */
